.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
}

.header__logo {
  height: 24px;
  width: auto;
}

.header__nav {
  display: flex;
  gap: 24px;
}

.header__link {
  font-size: 14px;
  color: rgba(28, 28, 28, 0.6);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
}

.header__link--active {
  color: #1c1c1c;
  background-color: #f3f0ff;
  font-weight: 500;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: auto;
  }

  .header__nav {
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #fff;
    justify-content: end;
    padding: 16px;
    gap: 8px;
  }

  .header__nav_mobile {
    display: flex;
  }
}
